scrappy_notebooks/*
logs/*
**/*.pyc
*.*.pyc
config.py
misc_datasets/*
__pycache__/forecasting_models.cpython-37.pyc
__pycache__/data_utilities.cpython-37.pyc
__pycache__/visualization_utilities.cpython-37.pyc